body {
   padding: 0;
   margin: 0;
   bottom: 0;
 }

/*Contenido de Barra de Navegacion*/
*{
   margin: 0;
   padding: 0;
}

nav {
   background-color:blue;
}

ul {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   width: 100vw; 
}

.listaNav > li {
   margin: 0;
   padding: 10px;
}

a {
   text-decoration: none;
   color: #fff;
}

li:hover{
 transition: 250ms;
 background-color: #000000;
}


header{
   margin: 0;
   padding: 0;
   display:inline-block;
   flex-direction: row;
   justify-content: space-between;
   width: 100%
}
/*Contenido de Barra de Navegacion*/

/*Contenido Carrucel*/

.slider-box {
   height: auto;
   margin: auto;
   overflow: hidden;
}
.slider-box ul {
display: flex;
padding: 0;
width: 400%;
height: 600px;
animation: slide 10s infinite alternate ease-in-out;
}

.slider-box ul li img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.slider-box li {
width: 100%;
list-style: none;
position: relative;
}
/*
.texto {
position: absolute;
text-align: start;
padding: 0 250px;
top: 250px;
color: #f4f4f4;
}
*/

.texto{
   height: 500px;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin:auto;
}




.texto h2{
font-size: 45px;
margin-bottom: 35px;
}
.slider-box img {
width: 100%;
}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% { margin-left: -100%;}
45% { margin-left: -100%;}

50% { margin-left: -200%;}
70% { margin-left: -200%;}

75% { margin-left: -300%;}
100% { margin-left: -300%;}
}

@media(max-width:991px) {}

.slider-box {
   width: 100%;
}
.texto {
   top: 50px;
   padding: 0 25px;
}
.texto h2{
   font-size: 35px;
   margin-bottom: 15px;
}
.texto p {
   font-size: 15px;
}
/*Contenido Carrucel*/

/* Estilo general para el contenedor principal */
.home {
   background-color: #f9f9f9; 
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.container {
   max-width: 1200px; 
   margin: 0 auto; 
   padding: 20px;
}


.header {
   text-align: center; 
   margin-bottom: 20px; 
}


h1 {
   font-size: 2.5em; 
   color: #224a79; 
}


.breakline {
   margin-top: 10px;
}

.yellow-line {
   width: 100%; 
   height: 4px; 
   background-color: yellow;
}
/* Estilo general para el contenedor principal */


/*Estilo para los contenidos de la parte de abajo*/

.avisos-wrapper {
   background-color: #f9f9f9; 
   padding: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.container {
   max-width: 1200px; 
   margin: 0 auto; 
}

.row {
   display: flex;
}

.avisos-image img {
   width: 100%; 
   height: auto; 
}

.avisos-content {
   padding: 20px; 
}

h2 {
   font-size: 1.5em; 
   color: #333; 
}

button {
   padding: 10px 15px; 
   margin: 10px 0;
   background-color: #fffb00; 
   border: none; 
   border-radius: 5px; 
   cursor: pointer; 
}

button:hover {
   background-color: #fffb00;
}

.hidden {
   display: none;
}
/*Estilo para los contenidos de la parte de abajo*/

/*Estilo para Opciones*/

  .wrapper-serv-princ {
    padding: 20px;
    background: #f9f9f9;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .title-serv-princ {
    text-align: center;
    margin-bottom: 20px;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  .serv-col {
    width: 22%;
    margin-bottom: 17px;
    text-align: center;
  }
  .serv-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  .serv-item:hover {
    transform: scale(1.05);
  }
  .serv-item img {
    max-width: 100%;
    height: auto;
  }
/*Estilo para Opciones*/


/*Estilo de video*/

.videoParallax{
   width: 100vw;
   
}

#videoParallaxDesktop{
   width: 100vw;
}

 /*Estilo de video*/


 /*Estilo opciones 2*/

body {
   font-family: Arial, sans-serif;
   background-color: #f8f8f8;
   padding: 20px;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.services > div > div > img{
   width: 100px;
}
.item {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 90%;
   max-width: 300px;
   margin: 18px;
   text-align: center;
   padding: 30px;
}

.item img {
   max-width: 90px;
   margin-bottom: 20px;
}

.item h3 {
   font-size: 1.5em;
   margin-bottom: 10px;
}

.item p {
   font-size: 1em;
   margin-bottom: 20px;
}

.item button {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   text-transform: uppercase;
}

.item button:hover {
   background-color: #0056b3;
}

@media (min-width: 768px) {
   .item {
       width: 45%;
   }
}

@media (min-width: 1024px) {
   .item {
       width: 30%;
   }
}
 /*Estilo opciones 2*/