/*Contenido de Barra de Navegacion*/
*{
   margin: 0;
   padding: 0;
}

nav {
   background-color:blue;
}

ul {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   width: 100vw; 
}

.listaNav > li {
   margin: 0;
   padding: 10px;
}

a {
   text-decoration: none;
   color: #fff;
}

li:hover{
 transition: 250ms;
 background-color: #000000;
}


header{
   margin: 0;
   padding: 0;
   display:inline-block;
   flex-direction: row;
   justify-content: space-between;
   width: 100%
}
/*Contenido de Barra de Navegacion*/

/*Contenido Carrucel*/

.slider-box {
   height: auto;
   margin: auto;
   overflow: hidden;
}
.slider-box ul {
display: flex;
padding: 0;
width: 400%;
height: 600px;
animation: slide 10s infinite alternate ease-in-out;
}

.slider-box ul li img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.slider-box li {
width: 100%;
list-style: none;
position: relative;
}
/*
.texto {
position: absolute;
text-align: start;
padding: 0 250px;
top: 250px;
color: #f4f4f4;
}
*/

.texto{
   height: 500px;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin:auto;
}




.texto h2{
font-size: 45px;
margin-bottom: 35px;
}
.slider-box img {
width: 100%;
}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% { margin-left: -100%;}
45% { margin-left: -100%;}

50% { margin-left: -200%;}
70% { margin-left: -200%;}

75% { margin-left: -300%;}
100% { margin-left: -300%;}
}

@media(max-width:991px) {}

.slider-box {
   width: 100%;
}
.texto {
   top: 50px;
   padding: 0 25px;
}
.texto h2{
   font-size: 35px;
   margin-bottom: 15px;
}
.texto p {
   font-size: 15px;
}
/*Contenido Carrucel*/

/* Estilo general para el contenedor principal */
.home {
   background-color: #f9f9f9; 
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo para la sección */
.container {
   max-width: 1200px; 
   margin: 0 auto; 
   padding: 20px;
}

/* Estilo para el encabezado */
.header {
   text-align: center; 
   margin-bottom: 20px; 
}

/* Estilo para el título */
h1 {
   font-size: 2.5em; 
   color: #224a79; 
}

/* Estilo para la línea de separación */
.breakline {
   margin-top: 10px;
}

.yellow-line {
   width: 100%; 
   height: 4px; 
   background-color: yellow;
}
/* Estilo general para el contenedor principal */


/*Estilo para los contenidos de la parte de abajo*/

.avisos-wrapper {
   background-color: #f9f9f9; 
   padding: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.container {
   max-width: 1200px; 
   margin: 0 auto; 
}

.row {
   display: flex;
}

.avisos-image img {
   width: 100%; 
   height: auto; 
}

.avisos-content {
   padding: 20px; 
}

h2 {
   font-size: 1.5em; 
   color: #333; 
}

button {
   padding: 10px 15px; 
   margin: 10px 0;
   background-color: #fffb00; 
   border: none; 
   border-radius: 5px; 
   cursor: pointer; 
}

button:hover {
   background-color: #fffb00;
}

.hidden {
   display: none;
}
/*Estilo para los contenidos de la parte de abajo*/